{% extends "base.html" %}

{% block "title" %}Password reset{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Enter a new password and repeat.</p>
        <form action="" method="POST">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Reset password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Failed to change password</h1>
        <p>The link to change the password is invalid. Please initiate the password reset.</p>
    {% endif %}
{% endblock %}