{% extends 'base.html' %}
{% block title %}Add Order{% endblock %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

{% block content %}

<form method="post">
    {% csrf_token %}
    <h2>Client Information</h2>
    {{ client_form.as_p }}

    <h2>Order Information</h2>
    {{ order_form.as_p }}

    {{ order_line_form.as_p }}

    {{ decoration_line_formset.management_form }}
    {% for form in decoration_line_formset %}
    <div class="form-group">
        <label for="{{ form.decorations.id_for_label }}" class="form-label">Decoration</label>
        {{ form.decorations }}
        <label for="{{ form.dec_qty.id_for_label }}" class="form-label">Quantity</label>
        {{ form.dec_qty }}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'orders' %}" class="btn btn-info">Back to orders</a>
        <button type="submit" class="btn btn-info"><i class="bi bi-check-lg"></i> Create Order</button>
    </div>
</form>
{% endblock %}
