{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Card for Sales Earnings -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Sales Earnings
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-cash-coin fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card for Total Expenses -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Expenses
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ expenses }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-cash fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card for Total Profit -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Total Profit
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ profit }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-cash-stack fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress Bars for Remaining Items -->
    <div class="row">
        <!-- Silk Remaining -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                        Silk Remaining
                    </div>
                    {% for color, remaining in silk_data_zipped %}
                    <h4 class="small font-weight-bold">{{ color }} <span class="float-right">{{ remaining }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar {% if remaining >= 100 %}bg-success{% elif remaining >= 51 %}bg-info{% elif remaining >= 21 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ remaining }}%" aria-valuenow="{{ remaining }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Decorations Remaining -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                        Decorations Remaining
                    </div>
                    {% for name, remaining in decoration_data_zipped %}
                    <h4 class="small font-weight-bold">{{ name }} <span class="float-right">{{ remaining }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar {% if remaining >= 50 %}bg-success{% elif remaining >= 26 %}bg-info{% elif remaining >= 11 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ remaining }}%" aria-valuenow="{{ remaining }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Materials Remaining -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                        Materials Remaining
                    </div>
                    {% for name, remaining in materials_data_zipped %}
                    <h4 class="small font-weight-bold">{{ name }} <span class="float-right">{{ remaining }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar {% if remaining >= 100 %}bg-success{% elif remaining >= 51 %}bg-info{% elif remaining >= 21 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ remaining }}%" aria-valuenow="{{ remaining }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
